In [1]:
import pyodbc

In [7]:
conn_str = (
    r'DRIVER={SQL Server};'
    r'SERVER=edc-azeunt012;'
    r'DATABASE=Datalake;'
    r'Trusted_Connection=yes;'
)
cnxn = pyodbc.connect(conn_str)

In [9]:
cursor=cnxn.cursor()
cursor.execute(
    'SELECT TOP (10) [Style],[ConditionRecordNumber] FROM [DataLake].[AFS].[Costing]')

In [10]:
for row in cursor:
    print(row)

('010CA1O303', '0000644589')
('010CA1O303', '0000644589')
('010CA1O303', '0000644589')
('010CA1O303', '0000644589')
('010CA1O303', '0000644589')
('010CA1O303', '0000644589')
('010CA1O303', '0000644589')
('010CA1O303', '0000644589')
('010CA1O303', '0000644589')
('010CA1O303', '0000644589')

In [15]:
conn_GOT = (
    r'DRIVER={SQL Server};'
    r'SERVER=EDC-DERANT466\GOT;'
    r'DATABASE=PROD;'
    r'Trusted_Connection=yes;'
)
cnxn = pyodbc.connect(conn_GOT)
cursor=cnxn.cursor()
cursor.execute(
    'SELECT TOP (10) [AFSDrop]FROM [PROD].[got].[AFSDrop]')

for row in cursor:
    print(row)

('FL_A', )
('FL_B', )
('L1_A', )
('L1_B', )
('L1_C', )
('L1XA', )
('L1XB', )
('L1XC', )
('L2_A', )
('L2_B', )

In [ ]:
conn = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER=EDC-DERANT466\GOT;DATABASE=;UID=user;PWD=password')